body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #dff3ff;
    color: #222;
}

h1 {
    color: #3446c5;
    font-size: 40px;
}

#story {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

#message {
    height: 30px;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
}

.columnButton {
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: white;
}

.columnButton:hover {
    background: #ffe8a3;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;

    width: max-content;
    margin: 0 auto;
    padding: 10px;

    background: #3446c5;
    border-radius: 12px;
}

.cell {
    width: 60px;
    height: 60px;

    background: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stone {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

.player1 {
    background: orange;
}

.player2 {
    background: #a9744f;
}

.winnerStone {
    border: 5px solid red;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;

    font-size: 18px;
    cursor: pointer;

    border: none;
    border-radius: 8px;
    background: white;
}

#restartButton:hover {
    background: #ffe8a3;
}